.calculator {
 width: 350px;
 height: 450px;
display: grid;
gap:10px;
row-gap: 20px; 
grid-template-columns: repeat(4, 1fr); /* 4 одинаковые колонки */
grid-template-rows:80px repeat(4, 70px); /* экран + 4 ряда кнопок */
background-color: rgb(238, 226, 172);
border-radius: 40px;
 padding: 20px;
}

.display{
    grid-column: 1/-1;
    border-radius: 10px;
   width: auto;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(92, 88, 88);
     font-size: 40px;           /* Крупный шрифт */
    text-align: right;         /* Выравнивание по правому краю */
    padding: 10px 10px;        /* Отступы внутри */
    border: 2px solid #ccc;    /* Обводка */
    background: white;         /* Четкий контраст */
    margin-bottom: 10px;  
}

button{

    width: 100%; /* Занимает всю ширину колонки */
    height: 100%; 
    border-radius:20%;
    font-size: 40px;
    transition: all 0.3s ease;
}

.number {
    background-color: rgb(238, 199, 102);
}
 
.operator {
    background-color: rgb(209, 104, 66);
}

.equals {
 background-color: rgb(209, 104, 66);
}
 
.clear {
 background-color: rgb(182, 162, 155);    
}

button:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}